@font-face {
  font-family: "SFRounded";
  src: url(../fonts/SF-Compact-Rounded-Thin.otf);
}

@font-face {
  font-family: "SFRegular";
  src: url(../fonts/SF-Pro-Rounded-Regular.otf);
}

* {
  font-family: "SFRegular", "SFRounded", "MyMonoid", Avenir, Verdana, Geneva, Tahoma, sans-serif;
}

html {
  background-color: black;
}

body {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.f {
  display: flex;
}

.fe {
  align-items: flex-end;
}

.dashboard {
  /* background-color: rgba(255,255,255,0.1); */
  width: 100vw;
  /* border-radius: 30px; */
  margin: auto;
}